# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directories
dist/
build/

# Vite cache
.vite/

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS files
.DS_Store

# Build artifacts
*.out
*.exe
*.dll

# Coverage directory used by testing tools
coverage/

# Temporary files
*.tmp
*.temp

# Ignore specific files
package-lock.json